<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'home';" href="#">Datos personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'homework';" href="#">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'diplomas';" href="#">diplomas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Sistemas';" href="#">Sistemas de num</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Binario';" href="#">Codigo Binario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Boleana';" href="#">Algebra Boleana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Circuitos';" href="#">Circuitos MSI y LSI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Decodificadores';" href="#">Decodificadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Multiplexores';" href="#">Multiplexores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Contadores';" href="#">Contadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'Sumadores';" href="#">Sumadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="actualView = 'ALU';" href="#">ALU</a>
      </li>
    </ul>
  </div>
</nav>

<div>
</div>

<div class="card" style="width: 100%;">
  <h5 class="card-header">UV-PROJECT</h5>
  <div class="card-body">
    <div *ngIf="actualView == 'home'">

      <p>Xunashi Michel Lopez Villalobos</p>
      <p>Grupo: 102</p>
      <p>Carrera: LSCA</p>
    </div>
    <div *ngIf="actualView == 'diplomas'">
      <img src="../assets/diploma.jpg" alt="">
    </div>
    <div *ngIf="actualView == 'Sistemas'">
      <h1 class="display-1">Informacion General</h1>
      <hr>
      Los sistemas numéricos de codificación son técnicas utilizadas para representar textos, flujos de datos o
      archivos mediante números enteros, utilizando los conceptos de la teoría de números. En la actualidad, tanto la
      teoría de números como los sistemas numéricos de codificación tienen gran auge en el mundo de la criptografía y
      en la seguridad computacional.

      En este capítulo estudiaremos el sistema decimal, el binario, el octal y hexadecimal, y las conversiones de un
      sistema a otro.
      <h1 class="display-3">Imagenes</h1>
      <hr>
      <img src="https://www.unadmexico.mx/sitios/aplicaciones-107/LITE_36/_Un_151_OperacionesAritmeticasBasicas/escenas/imgs/sistemas.jpg"
        alt="">
      <h3 class="display-3">Videos de youtube</h3>
      <hr>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/4kenXkQBIEw' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Binario'">
      <h1 class="display-3">Display 3</h1>
      <hr>

      El código binario es el sistema numérico usado para la representación de textos, o procesadores de instrucciones
      de computadora, utilizando el sistema binario (sistema numérico de dos dígitos, o bit: el "0" /cerrado/ y el "1"
      /abierto/). En informática y telecomunicaciones, el código binario se utiliza con variados métodos de
      codificación de datos, tales como cadenas de caracteres, o cadenas de bits. Estos métodos pueden ser de ancho
      fijo o ancho variable. Por ejemplo en el caso de un CD, las señales que reflejarán el "láser" que rebotará en el
      CD y será recepcionado por un sensor de distinta forma indicando así, si es un cero o un uno.

      <hr>
      <h3>IMG</h3>
      <img src="https://static.vix.com/es/sites/default/files/styles/large/public/btg/codigo_binario_2.jpg?itok=paY6MBRL"
        alt="">
      <h1>Videos de youtube</h1>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/lqFaPj6BYi4' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Boleana'">
      <h1 class="display-h1">Informacion: </h1>
      <hr>

      ¿QUÉ ES EL ÁLGEBRA BOOLEANA?
      Es una rama especial del álgebra que se usa principalmente en electrónica digital. El álgebra booleana fue
      inventada en el año 1854 por el matemático inglés George Boole.

      El álgebra de Boole es un método para simplificar los circuitos lógicos (o a veces llamados circuitos de
      conmutación lógica) en electrónica digital.

      Por lo tanto, también se llama como "Cambio de álgebra". Podemos representar el funcionamiento de los circuitos
      lógicos utilizando números, siguiendo algunas reglas, que son bien conocidas como "Leyes del álgebra de Boole".

      Compuertas lógicas
      También podemos hacer los cálculos y las operaciones lógicas de los circuitos aún más rápido siguiendo algunos
      teoremas, que se conocen como "Teoremas del álgebra de Boole". Una función booleana es una función que representa
      la relación entre la entrada y la salida de un circuito lógico.

      La lógica booleana solo permite dos estados del circuito, como True y False. Estos dos estados están
      representados por 1 y 0, donde 1 representa el estado "Verdadero" y 0 representa el estado "Falso".

      Lo más importante para recordar en el álgebra de Boole es que es muy diferente al álgebra matemática regular y
      sus métodos. Antes de aprender sobre el álgebra de Boole, vamos a contar un poco sobre la historia del álgebra de
      Boole y su invención y desarrollo.
      <hr>
      <h3 class="display-3">Imagenes</h3>
      <hr>
      <img src="https://sites.google.com/site/area1sexto/_/rsrc/1411760334775/home/cibernetica/identidades-basicas-del-algebra-booleana/Screen%20shot%202014-09-26%20at%202.38.10%20PM.png"
        alt="">
      <h3 class="display-3">Vides de youtube</h3>
      <hr>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/p58C7OWe3Xk' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Circuitos'">
      <h1>Informacion: </h1>
      <hr>
      La rapidez del desarrollo tecnológico ha dado lugar a que se puedan integrar simultáneamente en un mismo
      dispositivo un número determinado de puertas entre sí, que realizan una función concreta, así a principio de los
      años sesenta llegó la aparición del circuito integrado. A partir de entonces se han ido mejorando las técnicas de
      fabricación de forma espectacular, hasta llegar a la actualidad, donde es posible encontrar en una superficie de
      algo más de 1 cm cuadrado cientos de miles de puertas lógicas. Dependiendo del número de elementos puertas que se
      encuentren integrados en el chip se dice que ese circuito está dentro de una determinada escala de integración.
      <hr>
      <h3>IMG</h3>
      <hr>
      <img src="http://image.slidesharecdn.com/circuitos-integrados-1227375444654175-8/95/circuitos-integrados-7-728.jpg?cb=1227368304"
        alt="">
      <h3>Videos de youtube</h3>
      <hr>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/OaEPmqXesik' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Decodificadores'">
      <h1>Informacion: </h1>
      <hr>
      Un decodificador o descodificador es un circuito combinacional, cuya función es inversa a la del codificador, es
      decir, convierte un código binario de entrada (natural, BCD, etc.) de N bits de entrada y M líneas de salida (N
      puede ser cualquier entero y M es un entero menor o igual a 2N), tales que cada línea de salida será activada
      para una sola de las combinaciones posibles de entrada. Normalmente, estos circuitos suelen encontrarse como
      decodificador / demultiplexor. Esto es debido a que un demultiplexor puede comportarse como un decodificador.

      Si por ejemplo se tiene un decodificador de 2 entradas con 22=4 salidas, su funcionamiento sería el que se indica
      en la siguiente tabla, donde se ha considerado que las salidas se activen con un "uno" lógico
      <hr>
      <h3>IMG: </h3>
      <img src="http://azul2.bnct.ipn.mx/clogicos/codificadores_decodificadores/graficos(.gif)/UNID2_37.gif" alt="">
      <h3>Videos de youtube</h3>
      <hr>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/Q887j1snu8A' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Multiplexores'">
      <h1>Informacion: </h1>
      <hr>

      Los multiplexores son circuitos combinacionales con varias entradas y una única salida de datos. Están dotados de
      entradas de control capaces de seleccionar una, y solo una, de las entradas de datos para permitir su transmisión
      desde la entrada seleccionada hacia dicha salida.

      En el campo de la electrónica el multiplexor se utiliza como dispositivo que puede recibir varias entradas y
      transmitirlas por un medio de transmisión compartido. Para ello lo que hace es dividir el medio de transmisión en
      múltiples canales, para que varios nodos puedan comunicarse al mismo tiempo.

      Una señal que está multiplexada debe demultiplexarse en el otro extremo.
      <hr>
      <h3>IMG: </h3>
      <img src="http://e-ducativa.catedu.es/44700165/aula/archivos/repositorio/4750/4923/html/mux8.gif" alt="">
      <h3>Videos de youtube</h3>
      <hr>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/gTcU-FrRioM' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Contadores'">
      <h1>Informacion: </h1>
      <hr>
      Un contador es una variable cuyo valor se incrementa o decrementa en una cantidad constante, cada vez que se
      produce un determinado suceso, acción o iteración. Los contadores se utilizan con la finalidad de contar
      sucesos, acciones o iteraciones internas en un bucle, proceso, subrutina o donde se requiera cuantificar; deben
      ser inicializados antes del ciclo o proceso, e incrementados o decrementados dentro del ciclo.
      La inicialización consiste en asignarle al contador un valor inicial, es decir el número desde el cual
      necesitamos se inicie el conteo.
      <hr>
      <h3>IMG: </h3>
      <img src="http://www.utn.edu.ec/reduca/programacion/estructuras/Contadores.png" alt="">
      <h3>Videos de youtube</h3>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/1Roajj6yfMs' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'Sumadores'">
      <h1>Informacion: </h1>

      Es una variable que está en ambos miembros de una asignación interna a la que se le suma un valor variable.Es una
      variable que como su nombre lo indica, suma sobre sí misma un conjunto de valores, al finalizar
      con el ciclo contendrá, en una sola variable, la sumatoria de todos los valores, que cumplen una determinada
      condición. Es necesario haber inicializado en un momento previo a esta variable, ya que va a ser leído su
      contenido.
      El sumador acumulara en operaiones sencillas o complejas segun lo desees, dentro del algoritmo.

      <h3>IMG: </h3>
      <img src="http://2.bp.blogspot.com/-dCwAqf6SQz8/VFmbnEOu55I/AAAAAAAAAJQ/fOseoZXYWb4/s1600/1.bmp" alt="">
      <h3>Videos de youtube</h3>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/HiCbt2EIBqU' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'ALU'">
      <h1>Informacion: </h1>
      En computación, la unidad aritmética lógica o unidad aritmético-lógica, también conocida como ALU (siglas en
      inglés de arithmetic logic unit), es un circuito digital que calcula operaciones aritméticas (como suma, resta,
      multiplicación, etc.) y operaciones lógicas (si, y, o, no), entre valores (generalmente uno o dos) de los
      argumentos.

      Por mucho, los circuitos electrónicos más complejos son los que están construidos dentro de los chips de
      microprocesadores modernos. Por lo tanto, estos procesadores tienen dentro de ellos un ALU muy complejo y
      potente. De hecho, un microprocesador moderno (y los mainframes) puede tener múltiples núcleos, cada núcleo con
      múltiples unidades de ejecución, cada una de ellas con múltiples ALU.

      Muchos otros circuitos pueden contener en el interior una unidad aritmético lógica: unidades de procesamiento
      gráfico como las que están en las GPU modernas, FPU como el viejo coprocesador matemático 80387, y procesadores
      digitales de señales como los que se encuentran en tarjetas de sonido, lectoras de CD y los televisores de alta
      definición. Todos éstos tienen en su interior varias ALU potentes y complejas.
      <h3>IMG: </h3>
      <img src="http://ati.ttu.ee/IAY0340/labs/Tutorials/SystemC/ALU/ALU.png" alt="">
      <h3>Videos de youtube</h3>
      <iframe width="560" height="315" src='https://www.youtube.com/embed/YygPpWjNWts' frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="actualView == 'homework';">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Tarea 1
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              primer video: pelea apple microsoft :una de las grandes peleas originada por la tecnologia, queriendo
              liderar en los estados unidos. nos demuestra que grandes potencias tambien tiene errores y aqui lo unico
              que importaba era tener
              un buen conocimiento y las ganas de crecer. ya que microsoft empezo desdecero con la habilidad del
              conocimieno y saber como manejar su astucia y apostar todo por sus sueños.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Tarea 2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              en la conferencia se hablo sobre la in fluencia que tiene las marcas; google , amazon apple y facebook ,
              en nuestra vida en lo que consiste basicamente cada marca o aplicacion no obstante se menciona qu google
              y amazon pueden
              otorgar prestamos teles como si fuesen bancos lo que pueden significar que si otorgan prestamos los
              bancos pueden desaparecer. Tambien se menciono sobre la evolucion de las utilizacion de las redes
              sociales y la comunicacion, todo
              en exceso es malo pero gracias a la evolucion de las tecnologias que estan en nuestra mano podemos hacer
              ciertas cosas mas rapido incluso en nuestros trabajos o negocios. </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                Tarea 3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              pelicula, codigo enigma, nos enseña que los conocimientos no son como tratar a la gente o tener un cuerpo
              o rostro perfecto, no es necesario un cuerpo guapo o feo, ya que eso no define tu inteligencia. sigue tus
              sueños sin importar
              lo que otros digan o por muy al que te traten. si tu sabes que eso puede funcionar no declines, si al
              principio no era como esperabas vuelvelo hacer y veras que tendras otros conocimiento de como no tienes
              que hacerlo porque tus
              fracasos son aprendizajes.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="blockquote-footer">Xunashi Michel Lopez Villalobos<cite title="Source Title"> Universidad Veracruzana</cite></footer>

</div>
